

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #a1c3ff;
}

ul{
    list-style-type: none;
}

.navbar{
    background-color: #3474e6;
    height: 55px;
    color: #fff;
}

.logo{
    font-size: x-large;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .container .nav{
    display: flex;
    
}

.navbar .container .nav li{
    margin-left: 10px;
    margin-right: 20px;
}

li a{
    font-size: 16px;
}

.navbar a:hover{
    color: lightblue;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
  }
  img {
    max-width: 100%;
  }
  

header{
    display: flex;
    background-color: #0151cc;
    color: white;
    min-height: 400px;
    align-items: center;
    justify-content: space-between;
}

header .container{
    display: flex;
    flex-direction: column;
    
}

.boxes .container{
    display: flex;
    
}

.box{
    flex: 1;
    background: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

@media (max-width:768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
    .boxes .container{
        
        display: block;
        
    }
}